/*CSS styles to change the layout for medium sized screens(Tablets)*/
@media only screen and (min-width: 768px) {

  #welcome img {
    grid-column: span 2;
  }

  #gameStart {
    grid-column: 2 /3;
    padding: 2rem;
    font-size: 20px;
  }

  #triviaGame {
    grid: auto 1fr / repeat(4 , 1fr);
  }

  .answers {
    grid-column: span 2;
  }


  }
