/*CSS styles for most elements of the website and establishes the layout for small screens(Phones)*/

/*Make sure text sizes are the same across browsers*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /*Make sure all browsers use the same box-sizing for elements*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*Setting elements to use all availale space*/
html,
body{
  height: 100%;
}


body{
  display: grid;
  grid: "header" 5em
        "main" auto
        "footer" 5em /
        1fr;
  background-color: #000;
  align-items: center;
}

.hide {
  display: none;
}

.selected {
  border: #f00 2px solid;
}

/***HEADER***/
header {
  grid-area: header;
}

header h1,
header h3 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

header h1 {
  padding: .5rem 0 0 0;
  font-size: 1.95rem;
}

header h3 {
  padding: .2rem 0 0 0;
  font-size: 1.05rem;
}


/***BANNERS***/
#banner1 {
  grid-area: banner1;
  background-color: #7F0909;
}

#banner2 {
  grid-area: banner2;
  background-color: #7F0909;
}

/***MAIN***/
main {
  grid-area: main;
}

/***WELCOME SECTION***/
#welcome {
  display: grid;
  grid: auto 1fr / repeat(4, 1fr);
  justify-content: center;
  align-content: center;
}

#welcome h2,
#welcome p,
#welcome img {
  grid-column: 1 / -1;
  margin: 5px 2vw;
}

#welcome h2,
#welcome p {
  color: #fff;
  text-align: center;
}

#welcome h2 {
  font-size: 35px;
}

#welcome img {
  cursor: pointer;
}


#gameStart {
  grid-column: 2 / 4;
  padding: 2rem;
  font-size: 20px;
}


#welcome.hide {
  display: none;
}

footer {
  grid-area: footer;
}
