/*CSS styles for most elements of the website and establishes the layout for small screens(Phones)*/

/*Make sure text sizes are the same across browsers*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  /*Make sure all browsers use the same box-sizing for elements*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*Setting elements to use all availale space*/
html,
body{
  height: 100%;
}